<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Android.App.Horizon">

    <!-- Define the required permissions (adjust as necessary) -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Define the minimum and target SDK versions -->
    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        
        <!-- Define the Main activity -->
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
